<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/generalLayout::page" lang="en">

<body>

<div th:fragment="mainContent">

    <form method="POST" th:action="@{/login}">
        <div th:if="${param.newUser}" class="alert">New account created - log in to your account.</div>
        Login to the page!
        <div>

            <label for="username">
                Username:
                <input type="text" id="username" name="username" autofocus="autofocus" autocomplete="false" required>
            </label>

            <label for="password">
                Password:
                <input type="password" id="password" name="password" required>
            </label>

        </div>
        <div th:if="${param.error}" class="error">Invalid Username or Password</div>
        <input type="submit" value="Login" class="button">
    </form>

</div>
</body>
</html>