<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/generalLayout::page" lang="en">

<body>

<div th:fragment="mainContent">
    <form action="/add" method="POST" th:object="${userModel}">
        <label for="username">
            Username:
            <input type="text" id="username" required th:field="*{username}">
            <div th:errors="*{username}" style="color: red">Error message</div>
        </label>
        <br/>
        <label for="email">
            Email:
            <input type="text" id="email" required th:field="*{email}">
        </label>
        <br/>
        <label for="password">
            Password:
            <input type="password" id="password" required th:field="*{password}">
            <div th:errors="*{repeatPassword}" style="color: red">Error message</div>
        </label>
        <br/>
        <label for="repeatPassword">
            Repeat password:
            <input type="password" id="repeatPassword" required th:field="*{repeatPassword}">
        </label>
        <br/>
        <input type="submit" value="Register">
    </form>
</div>

</body>
</html>